.flex-container {
	font-family: Calibri;
	font-size: small;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000000;
}

.chess {
	display: flex;
    width: wrap-content;
    height: wrap-content;
    border: 1px solid #d3d3d3;
}

.board {
    display: flex;
    width: wrap-content;
    height: wrap-content;
    border: 1px solid #d3d3d3;
}

#letters {
	float: center;
	text-align: center;
	padding-left: 10px;
	letter-spacing: 21px;
}

#numbers {
	width: 5px;
	float: right;
	word-wrap: break-word;
	margin-right: 5px;
	padding: 5px;
	line-height: 2;
}

.black {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #999;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.white {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.green {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #0f0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.blue {
	margin: 0px;
    padding: 0px;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #00f;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}